/* Colors */
$color-transparent: transparent ;
$color-primary: #555555; //icons in the menu and primary
$color-secondary: #5B626B; // h1 and h2
$color-red: #FF0059;
$color-blue: #00ADEE;
$color-page-toggle-purple: #b1bbe6;
$color-page-toggle-red: #f79797;
$color-green: #7BD100;
$color-dark-green: #66A37A;
$color-orange: #FF9700;
$color-background: #F1F2F7;
$color-form-background: #F5F6F8;
$color-stroke: #EEEEEE;

//$color-icons: #999999; // icons and kipo-engine languages

$color-grey: #999999;
$color-white: #FFFFFF;
$color-grey-dark: #333333; //Text in the input field
$color-grey-light: #666666; //Text in the input field

$color-grey-medium: #ddd;


/* Buttons */
// button height:
$default-button-height: 32px;
$default-button-line-height: 30px;

$normal-button-height: 50px;
$normal-button-line-height: 50px;
