
.togglebutton {
  label {
    margin: 0;
    display: inline-block;
    .toggle {
      margin: 0;
      width: 33px;
      background-color: $color-red;
      &::after {
        left: 0;
      }
    }

    .toggle-page {
      margin: 0;
      width: 33px;
      background-color: $color-page-toggle-red;
      &::after {
        left: 0;
      }
    }

    input[type="checkbox"] {
      &:checked {
        + .toggle {
          background-color: $color-green;

          &:after {
            border-color: transparent;
          }
        }
      }
      &:checked {
        + .toggle-page {
          background-color: $color-page-toggle-purple;

          &:after {
            border-color: transparent;
          }
        }
      }
    }
  }
}

.checkbox input[type="checkbox"]:checked + .checkbox-material .check {
  background: $color-white;

  &::before {
    color: $color-green;
  }
}

.card-tabs {
  list-style-type: none;
  font-size: $secondary-font-size;
  margin-bottom: 0;
  &__items {
    color: $color-grey;
    cursor: pointer;
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    a {
      border-bottom: 1px solid transparent;
    }

    &.active {
      > a {
        border-bottom: 1px solid $color-grey-dark;
        display: inline-block;
        text-align: center;
      }
    }
  }
}

.tabs-details {
  margin-bottom: 20px;
}

.aside {
  .checkbox {
    display: block;
  }

  //.card__items {
  //  //overflow-y: auto;
  //  //overflow-x: hidden;
  //}
}

.form-group {
  padding-bottom: 0;
  margin-top: 0;
  .form-control {
    background-color: $color-form-background;
    border: 1px solid $color-form-background;
    background-image: none !important;
    //padding: 20px;
    color: $color-grey-dark;
  }

  .select {
    position: relative;
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 20px;
    background-image: url("/assets/utilities/arrow-down.svg") !important;
    background-repeat: no-repeat;
    background-position-x: calc(100% - 20px);
    background-size: 10px;
    background-position-y: 17px;
    cursor: pointer;
  }
  .input-date {
    padding: 0 20px;
  }

  .section-types {
    &__img {
      margin-top: 20px;
    }
    button {
      display: block;
      margin: 20px auto;
    }
  }
}

textarea.form-control {
  border-radius: 5px !important;
  height: 250px;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 20px;

}

//draggable-item

.draggable-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .img-circle {
    margin-left: 0;
  }
  .form-control {
    width: 60%;
  }
}



//Seo tools
.seo-description {
  margin-left: 10px;
  a {
    font-size: 18px;
    text-decoration: underline;
    word-wrap: break-word;
  }

  .slug {
    color: $color-dark-green;
  }

  .meta-description {
    word-wrap: break-word;
  }
}

.custom-bar-container {
  box-sizing: border-box;
  width: 100%;
  height: 4px;
  background-color: $color-background;
}

.progress-custom-bar {
  box-sizing: border-box;
  width: 0;
  height: inherit;
  max-width: inherit;
  max-height: inherit;

  transition: all 0.1s ease;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  &.success {
    background: $color-green;
  }

  &.warning {
    background: $color-orange;
  }

  &.error {
    background: $color-red;
  }
}

.social-tool {
  font-size: 14px;
  background-color: $color-background;
  &__body {
    padding: 15px;
    a {
      text-transform: uppercase;
      font-size: inherit;
    }
    h3 {
      margin: 0;
      font-weight: bold;
      font-size: inherit;
    }
    p {
      font-size: inherit;
    }
  }

}


.ck.ck-content.ck-editor__editable {
  height: 450px;
}



.input-error {
  display: inline-block;
  color: $color-red;
  font-size: 14px;
  margin-top: 5px;
}
