.grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  margin-bottom: 20px;
  @include respond(device-580) {
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px;
  }

  img {
    width: 100%;
  }
}